.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 12px 0;
  background-color: var(--whiteColor);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  justify-content: center;
}

/* Logo styling */
.logo {
  display: flex;
  justify-content: center;
}

.logo-img {
  width: 40%;
}

/* Navigation links styling */
.navlinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navlinks li {
  font-size: 15px;
}

.navlinks li a {
  text-decoration: none;
  color: var(--blackTextColor);
}

/* Hamburger menu styling */
.hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 33px;
}

/* Media queries for responsive design */
@media screen and (max-width: 850px) {
  .navlinks {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
